<!--<app-header></app-header>

<app-user></app-user>
-->
<app-header/>
  <main>
    <ul id = "users">
     <!-- this is from ang 17-->
        @for(user of users ; track user.id) {
           <!--<li *ngFor ="let user of users"> -->
         <li>
          <app-user 
        [user] = "user" [selected]="user.id == selectedUserId" (select) = "onSelectUser($event)"/>
      </li>
     }
       </ul>
     <!--   this is from ang 17-->
         @if(selectedUser){
    <app-task [userId] ="selectedUser.id" [name]="selectedUser.name"/>
        }
        @else{
          <p id = "fallabck"> Select a user to see thier tasks!</p>
        }

       <!-- <app-tasks *ngIf = "selectedUser ;else fallback" [name] ="selectedUser!.name"/>
          <ng-template #fallback>
            <p id = "fallabck"> Select a user to see their tasks!</p>
          </ng-template> -->
  </main>

<!--<header>
  <img src="assets/angular-logo.png" alt="The Angular logo: The letter 'A'" />
  <h1>Let's get started!</h1>
  <p>Time to learn all about Angular!</p>
</header>
>-->